.imageHero {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image:url('https://images.unsplash.com/photo-1538330627166-33d1908c210d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    height: 455px;
    padding: 50px 0px;

}

.imageHero__contents {
    display: flex;
    flex-direction: column;
}