.CTA {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.CTA-left {
    display: flex;
    align-items: left;
    flex-direction: column;
}

.text-hero-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-hero-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.buttonContainer {
    display: flex;
    width: fit-content;
}

.imageHero-new {
    display: flex;
    position: relative;
    height: 455px;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    align-content: center;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
}

@media only screen and (max-width: 1200px) {
    .imageHero-new {
        border-radius: 0px;
    }
}

@media only screen and (max-width: 480px) {
    .imageHero-new {
        height: 231px;
    }
}



.imageHero__image {
    object-fit: cover;
    width: 100%;
}

.imageHero__contentsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 2;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
}
  
.imageHero {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image:url('https://images.unsplash.com/photo-1538330627166-33d1908c210d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    height: 455px;
    padding: 50px 0px;
}

@media only screen and (max-width: 480px) {
    .imageHero {
        height: 231px;
    }
}

.imageHero {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image:url('https://images.unsplash.com/photo-1538330627166-33d1908c210d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    height: 455px;
    padding: 50px 0px;
}

.imageHero__contents {
    display: flex;
    flex-direction: column;
}

.imageHero-sombreros {
    background-image: url('/assets/figures/theArtists.png');
    background-position: center;
}

.imageHero__contents {
    display: flex;
    flex-direction: column;
}

.imageHero__contents-flexEnd {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.imageHero-practical {
    background-image: url('/assets/figures/header2.jpeg');
    background-size: cover;
}

.partners {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners__logos {
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    justify-items: center;
    /* justify-content: space-between; */
}

@media only screen and (max-width: 480px) {
    .partners__logos {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        column-gap: 25px;
        row-gap: 25px;
    }
}

.vertical-img-card {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}



.image-boxSmall {
    height: 164px;
    background-position: center;
}

@media only screen and (max-width: 480px) {
    .image-boxSmall {
        height: 237px;
    }
}

.image-boxSmall > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.text-boxSmall {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 108px;
    padding: 25px;
}

.horizontal-img-card {
    width: 900px;
    height: 555px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    background-color: #ffffff;
}

@media screen and (max-width: 480px) {
    .horizontal-img-card {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
}

.image-boxLarge {
    width: 450px;
    background-position: center;
}

@media screen and (max-width: 480px) {
    .image-boxLarge {
        width: 100%;
    }
}

.image-boxLarge > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.text-boxLarge {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 50px;
}

@media screen and (max-width: 480px) {
    .text-boxLarge {
        width: 100%;
        padding: 10px;
    }
}

.cardContainer__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 480px) {
    .cardContainer__row {
        flex-direction: column;
        width: 100%;
        gap: 50px;
    }
}

.cardContainer {
    display: flex;
    flex-direction: column;
}

/* Text Component */
.textComponent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

@media screen and (max-width: 480px) {
    .textComponent {
    width: 95%;
    }
}

.textComponent-horizontalCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 480px) {
    .textComponent-horizontalCenter {
        gap: 25px;
    }
}

.textComponent__body {
    line-height: 150%;
    max-width: 500px;
}

.carousel__figureContainer {
    width: 100%;
    max-width: 900px;
    height: 465px;

    border-radius: 10px;
    overflow: hidden;

    position: relative;
}

@media only screen and (max-width: 480px) {
    .carousel__figureContainer {
        max-width: 345px;
        max-height: 212px;
    }
}

.carousel__figureContainer__figure {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel__figureContainer__interactionContainer {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0px;
    z-index: 2;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

.carousel__figureContainer__interactionPanel {
    padding: 5px 5px;
    background-color: rgba(34, 34, 34, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.carousel__figureContainer__interactionContainer__dot-state-inactive{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;

    background-color: rgba(250,250,250, 0.5);
}

.carousel__figureContainer__interactionContainer__dot-state-active{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;

    background-color: rgba(250,250,250, 1);
}

.carousel__figureContainer__interactionContainer__dot-button{
    width: 25px;
    height: 25px;
    border-radius: 50%;

    background-color: rgba(250, 250, 250, 0.25);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__figureContainer__interactionContainer__dot-button:hover{
    cursor: pointer;
    background-color: rgba(250, 250, 250, 0.75);
    color: #222222;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 0px;
}

@media only screen and (max-width: 480px) {
    .footer-container {
        flex-direction: column;
        gap: 50px;
    }
}

.footer-textbox {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 480px) {
    .footer-textbox {
        gap: 25px;
    }
}

.icon {
    width: 20px;
    height: 20px;
}

.icon-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imageContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.imageContainer__image {
    width: 100%;
    border-radius: 10px;
}

.socialMediaContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media only screen and (max-width: 480px) {
    .socialMediaContainer {
        flex-direction: column;
        align-items: center;
    }
}

.socialMediaContainer__platform {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}

.socialMediaContainer__platform:hover > p {
    color: #F49536;
}

.programcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
}

.locationcontainer{
    width: 193px;
}


.locationcontainer__locationtitle {
    height: fit-content;
    width: 163px;
    padding: 10px ;
    border-radius: 5px;
    text-align: center;
    position: relative;
    left: 30px;
}

.locationbuttocolour{
    background-color: #B72E0A;
    border: 3px solid #B72E0A;
}
.locationbuttocolour--inactive{
    background-color: #CDCDCD;
    border: 3px solid #CDCDCD;
}


.locationcontainer__locationtitle--mobile {
    height: fit-content;
    width: 163px;
    padding: 10px ;
    border-radius: 5px;
    text-align: center;
    position: relative;
    
}

.locationcontainer__locationtitlecontainer--mobile{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.daycontainer{
    position:relative;
    left: 30px;
}

.daycontainer__date {
    position: absolute;
    transform: rotate(270deg);
    transform-origin: bottom left;
    bottom:0px;
}


.timecontainer{
    width: 163px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff; 
}

.timecontainer--mobile{
    width: 205px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff; 
}

.timecontainer__top{
    padding: 12.5px 25px 25px;
}

.timecontainer__mid{
    padding:  25px;
}

.timecontainer__bot{
    padding: 25px 25px 12.5px;
}

.textForm {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media screen and (max-width: 480px) {
    .textForm {
        width: 100%;
    }
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputContainer input {
    width: 250px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
}

@media screen and (max-width: 480px) {
    .inputContainer input {
        width: 100%;
    }
}

.inputRow {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

@media only screen and (max-width: 480px) {
    .inputRow {
        flex-direction: column;
        gap: 25px;
    }
}

.participants_participant {
    width: fit-content;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
}

@media only screen and (max-width: 480px) {
    .participants_participant {
        padding: 25px;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }
}

.participantType {
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    padding: 5px 10px;
}

.participantForm {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}


.validTicket__Container {
    padding: 25px;
    width: fit-content;
}

@media screen and (max-width: 480px) {
    .validTicket__Container {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
}

.validTicket__row {
    display: flex;
    justify-content: center;
}

.validTicket__infoElement {
    width: 100%;
    max-width: 200px;
}

@media screen and (max-width: 480px) {
    .validTicket__infoElement {
        flex-direction: column;
        width: auto;
    }
}

.validTicket__qrCode {
    width: 100px;
    height: 106.25px;
}

.login__buttonContainer {
    display: flex;
    justify-content: center;
}

.ticketEndOptionContainer {
    flex-direction: row;
}

@media only screen and (max-width: 480px) {
    .ticketEndOptionContainer {
        flex-direction: column;
    }
}