@font-face {
    font-family: "Heebo";
    font-weight: 300;
    font-style: normal;
    src: url("./../assets/fonts/Heebo-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Heebo";
    font-weight: 400;
    font-style: normal;
    src: url("./../assets/fonts/Heebo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "LondrinaSolid";
    font-weight: 400;
    font-style: normal;
    src: url("/assets/fonts/LondrinaSolid-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "JosefinSans";
    font-weight: 400;
    font-style: normal;
    src: url("/assets/fonts/JosefinSans-Regular.ttf") format("truetype");
}