/*

    In this file you'll find:
    - Font Families
    - Font Weights
    - Font Sizes
    - Font imports

*/

/* Safe set. In case we forget to style something */
* {
    font-family: 'JosefinSans','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ---> Font Families */
.text-primary {
    font-family: 'JosefinSansVariable','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-secondary {
    font-family: 'LondrinaSolid' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

/* ---> Font Weights */

.text-light {
    font-variation-settings: 'wght' 300;
}

.text-normal {
    font-variation-settings: 'wght' 400;
}

.text-medium {
    font-variation-settings: 'wght' 500;
}

.text-semiBold {
    font-variation-settings: 'wght' 550;
}

.text-bold {
    font-variation-settings: 'wght' 650;
}

/* ---> Font Sizes */

.text-body {
    font-size: 18.00px;
}

@media only screen and (max-width: 769px) {
    .text-body {
        font-size: 16.00px;
    }
}

.text-subTitle {
    font-size: 25.45px;
}

@media only screen and (max-width: 769px) {
    .text-subTitle {
        font-size: 22.62px;
    }
}

.text-title {
    font-size: 35.99px;
}

@media only screen and (max-width: 769px) {
    .text-title {
        font-size: 31.99px;
    }
}

.text-hero {
    font-size: 50.89px;
}

@media only screen and (max-width: 769px) {
    .text-hero {
        font-size: 45.23px;
    }
}

.text-heroBig {
    font-size: 71.96px;
}

@media only screen and (max-width: 769px) {
    .text-heroBig {
        font-size: 45.23px;
    }
}

/* ---> Font Imports */

@font-face {
    font-family: "LondrinaSolid";
    font-weight: 400;
    font-style: normal;
    src: url("/assets/fonts/LondrinaSolid-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "JosefinSansVariable";
    font-style: normal;
    src: url("/assets/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}