body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-negative);
}

main {
    width: 100%;
    max-width: 900px;

    display: flex;
    flex-direction: column;

    align-items: center;
}

@media only screen and (max-width: 480px) {
    main {
        max-width: 345px;
    }
}

main > * {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
} 

footer {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 25px;
}

.main-wrapper {
    width: 100%;
    max-width: 900px;
}

.imageHero {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image:url('https://images.unsplash.com/photo-1538330627166-33d1908c210d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    height: 455px;
    padding: 50px 0px;
}

.imageHero__contents {
    display: flex;
    flex-direction: column;
}

.text-dropshadow {
    text-shadow: 0px 4px 10px rgba(34, 34, 34, 0.4); 
}

.box-shadow {
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1); 
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 40px;
}

@media only screen and (max-width: 480px) {
    nav {
        height: 60px;
        padding: 5px 15px;
    }
}


.nav__links > a {
    text-decoration: none;
}

.nav__links > a:hover {
    text-decoration: none;
    color: #F49536;
}

.footer-textbox > a {
    text-decoration: none;
}

.footer-textbox > a:hover > p {
    text-decoration: none;
    color: #F49536;
}


.gap-10 {
    display: flex;
    gap: 10px;
}

.gap-10-v {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gap-25 {
    display: flex;
    gap: 25px;
}
.gap-25-v {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.gap-50 {
    display: flex;
    gap: 50px;
}

.gap-50-v {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.gap-100 {
    display: flex;
    gap: 100px;
}

@media screen and (max-width: 480px) {
    .gap-100 {
        flex-direction: column;
    }
}

.gap-100-v {
    display: flex;
    flex-direction: column;
    gap: 100px;
}


.gap-150 {
    display: flex;
    gap: 150px;
}

.gap-150-v {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

@media only screen and (max-width: 480px) {
    .gap-50-mobile {
        gap: 50px !important; 
    }
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align-center {
    align-items: center;
}

.cardBackground {
    background-color: white;
    border-radius: 10px;
}

.fullWidth {
    width: 100%;
}

.btn-primary {
    height: 40px;
    width: fit-content;
    background-color: #611400;
    padding: 0px 25px;
    border: 3px solid #611400;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #FAFAFA;
    color: #611400;
    border: 3px solid #611400;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-primary:active {
    background-color: rgba(97, 20, 0, 0.25);
    color: #611400;
    border: 3px solid #611400;
    transition-duration: 0.4s;
}

.btn-secondary {
    height: 40px;
    width: fit-content;
    background-color: var(--color-secondary);
    padding: 0px 25px;
    border: 3px solid var(--color-secondary);
    border-radius: 5px;
}

.btn-secondary:hover {
    background-color: #FAFAFA;
    color: var(--color-secondary);
    border: 3px solid var(--color-secondary);
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-secondary:active {
    background-color: rgba(183, 46, 10, 0.25);
    color: var(--color-secondary);
    border: 3px solid var(--color-secondary);
    transition-duration: 0.4s;
}

.btn-muted {
    height: 40px;
    width: fit-content;
    background-color: var(--color-muted);
    padding: 0px 25px;
    border: 3px solid var(--color-muted);
    border-radius: 5px;
}

.btn-muted:hover {
    background-color: #FAFAFA;
    color: var(--color-muted);
    border: 3px solid var(--color-muted);
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-muted:active {
    background-color: rgba(196, 196, 196, 0.25);
    color: var(--color-muted);
    border: 3px solid var(--color-muted);
    transition-duration: 0.4s;
}

.btn-success {
    height: 40px;
    width: fit-content;
    background-color: var(--color-success);
    padding: 0px 25px;
    border: 3px solid var(--color-success);
    border-radius: 5px;
}

.btn-success:hover {
    background-color: #FAFAFA;
    color: var(--color-success);
    border: 3px solid var(--color-success);
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-success:active {
    background-color: rgba(24, 187, 37, 0.25);
    color: var(--color-success);
    border: 3px solid var(--color-success);
    transition-duration: 0.4s;
}

.btn-safe {
    height: 40px;
    width: fit-content;
    background-color: var(--color-safe);
    padding: 0px 25px;
    border: 3px solid var(--color-safe);
    border-radius: 5px;
}

.btn-safe:hover {
    background-color: #FAFAFA;
    color: var(--color-safe);
    border: 3px solid var(--color-safe);
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-safe:active {
    background-color: rgba(18, 170, 231, 0.25);
    color: var(--color-safe);
    border: 3px solid var(--color-safe);
    transition-duration: 0.4s;
}

.btn-warning {
    height: 40px;
    width: fit-content;
    background-color: var(--color-warning);
    padding: 0px 25px;
    border: 3px solid var(--color-warning);
    border-radius: 5px;
}

.btn-warning:hover {
    background-color: #FAFAFA;
    color: var(--color-warning);
    border: 3px solid var(--color-warning);
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-warning:active {
    background-color: rgba(244, 149, 54, 0.25);
    color: var(--color-warning);
    border: 3px solid var(--color-warning);
    transition-duration: 0.4s;
}

.btn-danger {
    height: 40px;
    width: fit-content;
    background-color: var(--color-danger);
    padding: 0px 25px;
    border: 3px solid var(--color-danger);
    border-radius: 5px;
}

.btn-danger:hover {
    background-color: #FAFAFA;
    color: var(--color-danger);
    border: 3px solid var(--color-danger);
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-danger:active {
    background-color: rgba(244, 41, 13, 0.25);
    color: var(--color-danger);
    border: 3px solid var(--color-danger);
    transition-duration: 0.4s;
}

.margin-vertical-50 {
    margin: 50px 0px;
}

.mobile-hide {
    display: flex;
}

@media only screen and (max-width: 480px) {
    .mobile-hide {
        display: none !important;
    }
}

.desktop-hide {
    display: none !important;
}

@media only screen and (max-width: 480px) {
    .desktop-hide {
        display: flex !important;
    }
}
